*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background: #4e54c8; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #8f94fb,
    #4e54c8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8f94fb, #4e54c8);
}

.container {
  display: flex;
  width: 90%;
  flex-flow: column;
  align-items: center;
  /* text-align: center; */
  margin: 0 auto;
}

h1 {
  margin-top: 1rem;
  padding-top: 1rem;
}

#tooltip {
  display: none;
  color: yellow;
  margin-bottom: 1rem;
  /* font-weight: 700; */
}

.open {
  display: block !important;
}

.form_control {
  margin-top: 0.5rem;
  width: 20rem;
  display: flex;
  justify-content: space-between;
}

label {
  display: inline-block;
  width: 50%;
  /* margin-right: 1rem; */
  min-width: 150px;
}

input {
  display: inline-block;
}

input[type='checkbox'] {
  margin: 0 3.1rem;
}

#pass-length {
  margin: 0;
  width: 4rem;
  font-weight: 700;
}

#result {
  resize: none;
  margin: 1rem;
  height: 2rem;
  width: 20rem;
  border: 1px solid black;
  border-radius: 3px;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  word-break: break-all;
}

.button-container {
  display: flex;
  justify-content: center;
}

button {
  background-color: #4e54c8;
  color: inherit;
  border-radius: 5px;
  height: 3rem;
  margin: 1rem auto;
  font-size: 1rem;
  border: 0;
  outline: none;
  cursor: pointer;
}

button:hover {
  background-color: #343992;
}
